<table id="images" class="table table-striped">
  <thead>
    <tr>
      <th>Tags</th>
      <th>ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @images.each do |image| %>
    <tr data-id="<%= image.id %>">
      <td>
        <ul>
          <% image.tags.each do |tag| %>
            <li><%= tag %></li>
          <% end %>
        </ul>
      </td>
      <td><%= image.id %></td>
      <td class="actions">
        <%= link_to '<span class="glyphicon glyphicon-cloud-upload"><span> Create'.html_safe, new_image_servlet_path(image.id), class: 'btn btn-success create' %>
        <%= link_to '<span class="glyphicon glyphicon-trash"><span> Delete'.html_safe, image_path(image.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger delete' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>